img{
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}
body, html{
    overflow-x: hidden;
}
#home-play{
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,.64)!important;
}
.fundo-preto-transparente{
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,.64)!important;
}
.min-hei-programaca{
    min-height: 70vh;
}
.fundo-padrao{
    font-size: 36px;
    background-color: #000000;
}
.texto-destaque{
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
}
#conteudo-sobre-div{    
    padding-top: 25vh;
    padding-bottom: 25vh;
    z-index: 3;
}
.container-player{
    padding: 3px 5px;
    min-height: 25px;
    min-width: 25vw;
    height: 25px;
    max-width: 250px;
    background-color: #2B333F;
}
.aovivotag{
    color: #ffffff;
    font-size: 12px;
}
body{
    background-color: #0D0D0D;
}
#logo-site{
    height: auto;
    width: 70px;
    transition-duration: .5s;
}
.conteudo-leitura-branco{
    min-height: 75vh;
    background-color: #ffffff;
    padding: 50px 50px;
}
.card-post-link{
    background-size: cover;
    background-position: center;
    transition: all .5s ease-out!important;
    height: 230px;
    width: 470px;
}
.pagina-evento .card-post-link{
    width: 100%;
}
.container-card-post-link{
    overflow: hidden;
}
.card-post-link:hover{
    transform: scale(1.4);
}
.pagina-evento .card-post-link:hover{
    transform: scale(1.06);
}
.container-card-post{
    text-decoration: none!important;
    margin: 10px;
}
.container-card-post h2{
    color: #ffffff;
    text-decoration: none!important;
}
.sobre .titulo h2{
    font-family: 'Dosis', sans-serif;
    font-size: 65px;
}
.sobre{
    min-height: 80vh;
}
.sobre .conteudo-wordpress{
    height: 100%;
    min-height: 80vh;
    width: 100%;
    background-color: rgba(0,0,0,.64)!important;
    margin-bottom: 0px;
}
h1{
    color: #ffffff;
    font-weight: 300;
}
.container-titulo h1{
    font-size: 70px;
    font-weight: 400;
    color: #333;
    font-family: 'Dosis', sans-serif;
}
.conteudo-leitura-branco .detalhes-post{
    font-family: 'Dosis', sans-serif;
    color: #333;
    margin-top: 20px;
    font-size: 16px;
}
.inner-conteudo{
    max-width: 1200px;
}
.conteudo-post p{
    color: #333;
    font-family: 'Dosis', sans-serif;
}
.thumbnail-post-view{
    width: 100%;
    height: auto;
}
#logo-site.scroll{
    width: 50px;
}
header{
    width: 100%;
    position: fixed;
    background-color: #0D0D0D;
    -webkit-box-shadow: 0px 0px 4px 1px #F29544; 
    box-shadow: 0px 0px 4px 1px #F29544;
    z-index: 900;
}
footer{
    width: 100%;
    background-color: #0D0D0D;
    -webkit-box-shadow: 0px -1px 4px 0px #F29544; 
    box-shadow: 0px -1px 4px 0px #F29544;
    opacity: 0.9;
    z-index: 900;
}
.menu-topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    transition-duration: .5s;
}
.rodape-fundo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
#logo-rodape{
    height: auto;
    width: 70px;
}
.menu-opcao{
    margin: 0px 10px;
}
.menu-opcao a{
    color: #F29544;
    font-weight: 600;
    transition-duration: .5s;
    text-decoration: none;
}

.menu-opcao.ativo a{
    border-bottom: 1px solid;
}
#error-404{
    border-radius: 5px;
    border: 1px solid #474544;
}

.menu-opcao a:hover{
    color: #D95032;
}
.social-opcao{
    margin: 0px 10px;
}

.social-opcao img{
    height: auto;
    width: 25px;
}

.fundo-defalt{
    padding-top: 100px;
}
.fundo-defalt-banner{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.titulos_rodape{
    color: #ffffff;
    font-weight: 600;
}

.rodape-fundo a{
    color: #F29544;
    text-decoration: none;
    transition-duration: .5s;
}
.rodape-fundo a:hover{
    color: #D95032;
}

.contato-form, .conteudo{
    width: 75%;
    opacity: 0.9;
    border-radius: 10px;
    padding: 30px 50px;
    max-width: 1000px;
}
.titulo-contato{
    color: #ffffff;
}
.contato-form label{
    color: #ffffff;
}
#sessao-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
textarea{
    width: 100%;
}
input{
    min-width: 400px;
    height: 40px;
}
textarea, input{
    text-indent: 5px;
    outline: none!important;
    border: 1px solid;
    border-radius: 3px;
}
textarea{
    padding-top: 2px;
}
#btnenviarcontato{
    background: transparent;
    transition-duration: .5s;
    outline: none!important;
}
#btnenviarcontato:hover{
    color: #ffffff;
    background-color:#F29544;
    cursor: pointer;
}
.banner-home{
    min-height: 30vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.conteudo-wordpress p, p{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.conteudo-wordpress{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 65px;
}
.conteudo-wordpress h2{
    font-weight: 300;
    font-size: 45px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 15px;
}
.conteudo-wordpress h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-align: left;
    color: #ffffff;
}
.conteudo-wordpress p{
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.container-membro-equipe, .programa-memoravel, .container-programa{
    width: 100%!important;
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F295444A;
}
.imagem-membro-equipe, .imagem-programa{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid #513073;
}
.imagem-programa{
    border-radius: 10px;
}
.dados-integrante, .dados-programa{
    padding-left: 30px;
    margin-top: 10px;
}
.link-propaganda{
    width: 75%;
    max-width: 1000px;
}
.listagem-programacao{
    color: #ffffff;
    outline: none!important;
    transition-duration: .5s;
    font-weight: bold !important;
    border: 1px solid #f29544;
    padding: 15px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listagem-programacao span{
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}
.listagem-programacao:hover{
    cursor: pointer;
}
.conteudo-mostrar{
    padding-left: 20px;
    margin-top: 5px;
}
.conteudo-mostrar span{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    font-family: 'Dosis', sans-serif;
}
.arrow-wrapper{
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
}
.arrow .close{
    fill: #f29544;
}
.arrow.expandido{
    transform: rotate(180deg);
}

.contato-programa p{
    font-size: 15px;
    margin-bottom: 0;
}

.summary{
    font-size: 24px !important;
    outline: none!important;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

#bars {
    height: 30px;
    width: 40px;
    display: flex;
    transform: rotate(180deg);
    justify-content: center;
}

.bar {
    background: #ffffff;
    bottom: 1px;
    height: 3px;
    width: 2px;      
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;
        height: 20px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }​

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

.containerpausestart img{
    height: auto;
    width: 20px;
}
.containerpausestart img:hover{
    cursor: pointer;
}
.containerpausestart{
    margin-right: 15px;
}
.iframe-sound{
    min-width: 500px;
    max-width: 100%;
}
.conteudo-titulo-podcast{
    margin-right: 100px;
}
.pecamusica{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Roboto';
    color: #ffffff;
}
.numerowhatsapp{
    font-weight: 300;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 36px;
}
.button-missao{
    display: flex;
    outline: none!important;
    text-decoration: none!important;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #D95032;
    min-height: 64px;
    min-width: 272px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: .5s;
}
.button-missao-sobre{
    font-weight: 400;
    font-size: 18px;
}
.button-missao:hover{
    background-color: #D95032;
    font-weight: 500;
    color: #ffffff;
}
.carousel-eventos{
    width: 100vw;
    max-width: 960px;
    height: 350px;
    max-height: 350px;
}
.conteudo-carousel-eventos{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4)!important;
}
.conteudo-carousel-eventos a{
    text-decoration: none!important;
    height: 100%;
    width: 100%;
    color: #ffffff;
}
.conteudo-carousel-eventos h2{
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: 400;
}
.conteudo-carousel-eventos span{
    font-weight: 400;
    font-family: 'Roboto';
    font-size: 15px;
    color: #0af!important;
}
.background-sobre{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 1300px){
    input{
        min-width: 350px;
    }
}

@media (max-width: 1024px){
    .fundo-defalt{
        background-position: center right;
        background-size: contain;
    }
    input{
        min-width: 300px;
    }
}

@media (max-width: 900px){
    input{
        min-width: 100%;
    }
}

@media (max-width: 768px){
    .container-dois{
        flex-direction: column;
    }
    .container-input, .container-input .d-flex{
        width: 100%;
    }
    .container-input{
        margin-top: 1.5rem;
    }
    .contato-form .mt-4{
        margin-top: 1.5rem!important;
    }
}

@media (max-width: 425px){
    .contato-form{
        width: 88%;
        padding: 30px 20px;
        max-width: 1000px;
    }
}